<h1>Welcome to my website</h1>

<p>After years upon years of redesigning wordpress templates and then forgetting to renew hosting, and then forgetting to write anything or maintain my old website, i have built a new website. Will the exact same thing happen again? yes probably. But i want a website because all of the other websites are upsetting so this is my website.</p>

<p>Look, I have to get back to work on this website. If you want to learn about me or my website, you should email <a href="mailto:edenrohatensky@gmail.com">edenrohatensky@gmail.com</a> or tweet at me <a href="https://twitter.com/edenthecat">@edenthecat</a>. Goodbye.</p>